## Part 1 - Python Basics

In the cell below, define two variables, `x` and `y`, that contain the number 10 as a float and the string "Hello, World!"

Create two new variables, `x_type` and `y_type` that contain the types of `x` and `y`, respectively.  Make sure that the printed values of these variables agree with the assumptions above.  If not, please modify the above code to create the correct types!

Create a new variable `z` that stores the value `3x - 1`.

Create a new variable `y_len` that stores the number of characters in your string variable, `y`.

Convert the value of `x` from a float to a string, and store in a new variable `x_str`.

## Part 2 - Lists and Functions

Create a variable `days` that stores a list of the days of the week, starting with Sunday.

Create a new variable, `num_days`, that stores the length of the `days` list starting with Sunday.

Create a function `get_day_by_index` that takes two arguments, a list of strings and an integer index, and returns the element of the list with this index.

Call the function `get_day_by_index` with the appropriate arguments so that it returns "Thursday".

Use a `for` loop to loop over your `days` list and print each day and its index.  Your output should look something like:

    (Sunday, 0)
    (Monday, 1)
    ...

Sort the list with A-Z ordering using the `sorted` function.

Sort the list with Z-A ordering with the `sorted` function.  Recall: use `help(sorted)` to see documentation for the `sorted` function.

## Part 3 - Pandas Dataframes

Use the correct import statement to import the `pandas` module as a variable `pd`.

Use the `pd.read_csv` method to read the `tmdb_5000_movies.csv` files into a dataframe named `df`.

Print the shape of `df`.

Print the first 5 rows of `df`.

Store the row and column labels of `df` into two variables, `rows` and `columns`.

Create a variable `title` that contains the all of the movie titles.

What type is the `title` variable?  If it is not a list, convert it to a list.

Verify that the length of the `title` list is the same as the number of rows in the dataframe.

Write a line of code that returns the value of the 10th row of the "popularity" column

Write a line of code that returns the last 10 rows of the columns "title", "release_date", and "budget" (in that order).